<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>

<main class="main">
  <div class="content">

    <mat-tab-group class="d-flex flex-grow-1">
      <mat-tab label="Працівники">
        <ng-container *ngTemplateOutlet="employeeFormTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="employees"></ng-container>
      </mat-tab>
      <mat-tab label="Відомості про рух носія">
        <ng-container *ngTemplateOutlet="report"></ng-container>
      </mat-tab>
    </mat-tab-group>

  </div>
</main>

<ng-template #employeeFormTemplate>
  <form [formGroup]="employeeForm" class="d-flex flex-column my-2">
    <mat-form-field>
      <mat-label>ПІБ працівника</mat-label>
      <input matInput type="text" formControlName="displayName" />
      <button matSuffix mat-icon-button (click)="addEmployee($event)">
        <mat-icon fontIcon="add"></mat-icon>
      </button>
    </mat-form-field>
  </form>
</ng-template>

<ng-template #employees>
  <ng-container *ngIf="employees$ | async as employees">
    <ng-container *ngFor="let employee of employees">
      <mat-form-field class="d-flex flex-grow-1">
        <input matInput id="{{ employee.id }}" name="employee" type="text" [readonly]="true"
          value="{{ employee.displayName }}" />
        <button matSuffix mat-icon-button (click)="removeEmployee(employee.id)" name="Remove employee">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
      </mat-form-field>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #report>
  Report
</ng-template>

<router-outlet></router-outlet>
