@use 'sass:map';
@use '@angular/material' as mat;

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/helpers';

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$fontConfig: mat.define-typography-config(
    $headline-1: mat.define-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
    $headline-2: mat.define-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
    $headline-3: mat.define-typography-level(45px, 48px, 400, 'Roboto', 0em),
    $headline-4: mat.define-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
    $headline-5: mat.define-typography-level(24px, 32px, 400, 'Roboto', 0em),
    $headline-6: mat.define-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
    $subtitle-1: mat.define-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
    $subtitle-2: mat.define-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
    $body-2: mat.define-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
    $body-1: mat.define-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
    $caption: mat.define-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
    $button: mat.define-typography-level(14px, 14px, 500, 'Roboto', 0em),
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

// Background config
// Light bg
$light-background: #fafafa;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten(#2c2c2c, 20%);
$dark-bg-alpha-4: rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12: rgba(#2c2c2c, 0.12);

// Dark bg
$dark-background: #2c2c2c;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#fafafa, 0.04);
$light-bg-alpha-12: rgba(#fafafa, 0.12);

@include mat.core();

// Theme Config

body {
    --primary-color: #0b3765;
    --primary-lighter-color: #b6c3d1;
    --primary-darker-color: #062349;
    --text-primary-color: #{$light-primary-text};
    --text-primary-lighter-color: #{$dark-primary-text};
    --text-primary-darker-color: #{$light-primary-text};
}
$mat-primary: (
    main: #0b3765,
    lighter: #b6c3d1,
    darker: #062349,
    200: #0b3765,
    // For slide toggle,
    contrast:
        (
            main: $light-primary-text,
            lighter: $dark-primary-text,
            darker: $light-primary-text,
        ),
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

body {
    --accent-color: #3fc4cc;
    --accent-lighter-color: #c5edf0;
    --accent-darker-color: #29afb9;
    --text-accent-color: #{$dark-primary-text};
    --text-accent-lighter-color: #{$dark-primary-text};
    --text-accent-darker-color: #{$dark-primary-text};
}
$mat-accent: (
    main: #3fc4cc,
    lighter: #c5edf0,
    darker: #29afb9,
    200: #3fc4cc,
    // For slide toggle,
    contrast:
        (
            main: $dark-primary-text,
            lighter: $dark-primary-text,
            darker: $dark-primary-text,
        ),
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

body {
    --warn-color: #ef3737;
    --warn-lighter-color: #fac3c3;
    --warn-darker-color: #e82323;
    --text-warn-color: #{$light-primary-text};
    --text-warn-lighter-color: #{$dark-primary-text};
    --text-warn-darker-color: #{$light-primary-text};
}
$mat-warn: (
    main: #ef3737,
    lighter: #fac3c3,
    darker: #e82323,
    200: #ef3737,
    // For slide toggle,
    contrast:
        (
            main: $light-primary-text,
            lighter: $dark-primary-text,
            darker: $light-primary-text,
        ),
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

$theme: mat.define-light-theme(
    (
        color: (
            primary: $theme-primary,
            accent: $theme-accent,
            warn: $theme-warn,
        ),
        typography: $fontConfig,
        density: 0,
    )
);

// Theme Init
@include mat.all-component-themes($theme);

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
    padding: 0 1.15em;
    margin: 0 0.65em;
    min-width: 3em;
    line-height: 36.4px;
}

.mat-standard-chip {
    padding: 0.5em 0.85em;
    min-height: 2.5em;
}

.material-icons {
    font-size: 24px;
    font-family: 'Material Icons', 'Material Icons';
    .mat-badge-content {
        font-family: 'Roboto';
    }
}
